@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    margin : 0;
    padding : 0;
    outline : 0;
    box-sizing: border-box;
    overflow-y: hidden;
}
html,body, #root{
    height: 100%;
    outline: none;
   
}

body, input, button {
    font-family: Roboto, sans-serif;
    outline: none;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  ::placeholder { 
    color: #fff;
    opacity: 0.7; 
  }